.board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-columns: 1fr;
    background-color: aliceblue;

    border-radius: var(--default-border-radius);
    padding: 1em;

    justify-items: center;
}