.board {
    display: grid;

    grid-auto-columns: 1fr;
    background-color: var(--c-red);
    width: 85%;
    align-self: center;

    border-radius: var(--default-border-radius);
    padding: 1em;

    justify-self: center;
    justify-items: center;

    box-shadow: rgb(215, 215, 215) 0 0 20px;

}

.board.easy {
    grid-template-columns: repeat(5, 1fr);
}

.board.medium {
    grid-template-columns: repeat(4, 1fr);
}

.board.hard {
    grid-template-columns: repeat(6, 1fr);
}

.scores {
    display: grid;
    grid-template-columns: 1fr 1fr;
}