#root {

  width: 80vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: var(--c-sat-green);
  border-radius: var(--default-border-radius);
  box-shadow: 0 0 10px;

}

#app {
  /* max-width: 85vw; */
  display: grid;
}

.difficulty-selector {
  list-style-type: none;
  padding: 0;
}

.list-item button {
  margin: 6px;
}



.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}