#root {
  width: 70vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #008ab0;
}

#app {
  /* max-width: 85vw; */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}